html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
.px-md-4 {
    padding-right: 13.5rem!important;
    padding-left: 52.5rem!important;
}
.flex-md-row {
    flex-direction: row-reverse;
}
.p-3 {
    padding: 1.5rem!important;
}
/* .flex-column {
    background-color: #2e2e2e !important;
} */
.bg-white {
    --bs-bg-opacity: 1;
    /* background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important; */
}
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow {box-shadow: 15px 1rem 2.5rem rgb(183 185 59 / 55%);
  }
  
 
  .my-md-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
    margin-left: 900 !important;
 
}
.site-footer {
  background-color: #252525;
  border-color: #333333;
}

.footer-copyrights p {
  color: #dddddd;
}

.site-footer .footer-social-links li a {
  color: #dddddd;
}

.site-footer {
  display: block;
  position: relative;
  margin: 60px -70px -60px;
  padding: 15px 45px;
  background-color: #fdfdfd;
  border-top: 2px solid #f2f2f2;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.site-footer {
    border-radius: 0;
}
body, p {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 0;
  font-style: normal;
  line-height: 1.75em;
  color: #d5d5d5;
}
